 .createeventbutton,.announcebutton ,.submitbutton{
        width: 200px;
        margin: 20px auto;
        padding: 12px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background: linear-gradient(to right, #007bff, #00c3ff);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s, transform 0.2s;
    }

    .createeventbutton:hover ,.announcebutton:hover,.submitbutton:hover{
        background: linear-gradient(to right, #0056b3, #0097d1);
        transform: scale(1.05);
    }
    .button_con{
        display: flex;
        flex-direction: row;
    }
    .footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .imagelogo{
        height: 30px;
        width: 30px;
    }
    .imagelogo:hover{
        opacity: 75%;
    }
    
    .announce,.createevent{
       z-index: 10;
    position:absolute; 
       width: 40%;
       height: 55%;
 background: linear-gradient(135deg, #E0BBE4 0%, #957DAD 100%);
       left: 20%;
       top:40%;
       border-radius: 20px;
       border-color: black;
       border-width: 2px;
    }
    .announce input,.createevent input{
        color: black;
        display: block;
        background-color: white;
        border-radius: 10px;
        width: 75%;
        height: 50px; 
        margin: 10px;
        text-align: center;
    }
    .announce form,.createevent form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

    }
    .announce h1,.createevent h1{
        font-weight: bold;
    }
    .back{
        position: absolute;
        top: 1%;
        right: 1%;
       
        cursor:pointer;
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }
    .back:hover{
 background-color: red;
    }

     
   
    