.con{
display: flex;
flex-direction: column;
background-color: gray;
}
.notifi{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    margin-top: 7px;
    margin-bottom: 7px;
   
   gap: 60px;
   background-color: white;
   border-radius: 40px;
}
.notifi img{
    height: 100px;
    width: 100px;
    margin-left: 15%;
    
}
h1{
    font-size:xx-large;
    color: #000;
}

