.dropdown{
  width: 75%;
  position:fixed;
  top:120px ;
  z-index: 50;
  background-color: black;
  height: 100vh;
  animation: slideright 0.3s ease 0s 1 ;
  
}
.profile{
    color: white;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: 6px;
    
}
.logout{
    color: red;
      font-weight: bold;
      padding-left: 17px;
      cursor: pointer;
      margin-bottom: 10px;
}
.logout:hover {
  opacity: 0.8;
}
@keyframes slideright{
  from{
    transform: translateX(-75%);

  }
  to{
    transform: translateX(0px);
  }
}